<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>
<entry key="selectBoardListCount">

	select
        	count(*) as COUNT
from board
where 
    board_type = 1
    and status= 'Y'

</entry>

<entry key="selectBoardList">
	SELECT *
FROM
(       SELECT 
        BOARD_NO
        ,CATEGORY_NAME
        ,BOARD_TITLE
        ,USER_ID
        ,BOARD_COUNT
        ,REGIST_DATE
        ,ROW_NUMBER() OVER(ORDER BY BOARD_NO DESC) AS RNUM
FROM 
        BOARD B
JOIN CATEGORY USING(CATEGORY_NO)
JOIN MEMBER ON (USER_NO = BOARD_WRITER)
WHERE BOARD_TYPE = 1
    AND B.STATUS = 'Y'
    )
    WHERE RNUM BETWEEN ? AND ?

</entry>
</properties>